.container-about {
  position: relative;
  width: 100%;
  padding-top: 8rem;
  background-image: url("../assets/blurry-gradient-haikei-2.png");
  background-size: cover;
}

.about-section1 {
  position: relative;
  padding: 20px;
  background-image: url(../assets/aboutUs.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.about-section1::before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}