.container-about {
  position: relative;
  width: 100%;
  padding-top: 8rem;
  background-image: url("../assets/blurry-gradient-haikei-2.png");
  background-size: cover;
}

.about-section1 {
  padding: 20px;
}
