@font-face {
  font-family: poppins;
  src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppins-bold;
  src: url(../assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: poppins-medium;
  src: url(../assets/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: poppins-extralight;
  src: url(../assets/fonts/Poppins-ExtraLight.ttf);
}

.container-about {
  position: relative;
  width: 100%;
  background-image: url("../assets/blurry-gradient-haikei-2.png");
  background-size: cover;
  font-family: poppins;
  overflow-y: hidden;
}

.inner1,.inner2,.inner3 {
  font-family: poppins;
  margin: 0 auto;
  max-width: 1060px;
  width: 100%;
}
.inner1 h1 {
  font-family: poppins-bold;
  font-size: 4rem;
}

.about-section1-parallax {
  padding-top: 5rem;
  position: relative;
  background-image: url("../assets/aboutUs.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;

}

.about-section1-parallax::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.about-section1-parallax > * {
  padding: 20px;
  position: relative;
  z-index: 2;
}

.about-section2 {
  padding: 20px;
  margin-top: 20px;
}

.about-section3 {
  padding: 20px;
}


.row {
  display: flex;
  flex-wrap: wrap;
}

.black-card {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  width: 18rem;
  background: #29292c;
  border-radius: 1rem;
  margin: 10px;
  padding: 20PX;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
  --color: #32a6ff
}

.black-card:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  background: #18181b;
  z-index: 2
}

.black-card:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}

.black-card:hover:after {
  transform: translateX(0.15rem)
}

.card-title {
  color: aquamarine;
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 1.5rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.black-card:hover .card-title {
  transform: translateX(0.15rem)
}

.card-body {
  color: #99999d;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.black-card:hover .card-body {
  transform: translateX(0.25rem)
}

.glow,
.borderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, white, transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}

.glow {
  z-index: 3;
}

.borderglow {
  z-index: 1;
}

.black-card:hover .glow {
  opacity: 0.2
}

.black-card:hover .borderglow {
  opacity: 0.2
}


@media (max-width: 768px) {
  .inner1 h1 {
    font-size: 3rem;
  }
  .inner2 {
    overflow-x: hidden;
  }
}

@media (max-width: 576px) {
  .inner1 h1 {
    font-size: 2.5rem;
  }
}
