.hero-image {
  position: relative;
  max-height: 500px;
}

.carousel-item img {
  object-fit: cover;
  max-height: 500px;
}

.carousel-indicators [data-bs-target] {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  margin: 0 5px;
}

.title-container {
  position: absolute;
  bottom: 50px;
  left: 55px;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.title-container h1 {
  font-family: "roboto";
  font-size: 5vw;
  font-weight: 600;
}

.contact-container ul {
  display: flex;
  align-items: center;
  padding: 20px 0 0px 55px;
}

.contact-container ul li {
  list-style: none;
}

.contact-container ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.5s ease;
  padding-right: 20px;
}
.contact-container ul li a:hover,
.contact-container ul li a:hover:focus {
  color: aquamarine;
}
.contact-container ul li:last-child {
  padding-left: 20px;
  color: aquamarine;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

.get-in-touch .bg-color-gray {
  background-color: #212121;
  padding: 3rem 5rem 3rem 3.8rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.get-in-touch h1 {
  font-family: "roboto";
  font-weight: 300;
  margin-bottom: 2rem;
}

.get-in-touch p {
  margin-bottom: 2rem;
}

.get-in-touch_details p{
  margin: 0;
}

.lets-connect h1 {
  position: relative;
  display: inline-block;
  font-weight: 300;
}

.lets-connect h1::after{
  content: '';
  position: absolute;
  bottom: -9px;
  left: 0;
  width: 50%;
  height: 5px;
  background-color: aquamarine;
  border-radius: 10px;
}


.form-group {
  margin-bottom: 0;
}
.form-group label {
  font-weight: bold;
}

.border-bottom-white {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid white;
  border-radius: 0;
}



















.form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 20px;
  border-radius: 20px;
  position: relative;
  color: #fff;
  border: 1px solid #333;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #39cdff;
}



.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

.message, 
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}

.flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.flex-item {
  flex-grow: 1;
}

.imput {
  width: 100%;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #00bfff;
  top: 0px;
  font-size: 0.9em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.message-btn {
  display: inline-block;
 outline: none;
 cursor: pointer;
 border: 1px solid #fff;
 padding: 0.7rem 1.4rem;
 margin: 0;
 font-family: inherit;
 position: relative;
 display: inline-block;
 font-weight: 600;
 font-size: 17px;
 border-radius: 10px;
 overflow: hidden;
 background: aquamarine;
 color: ghostwhite;
}

.message-btn span {
 position: relative;
 z-index: 10;
 transition: color 0.4s;
}

.message-btn:hover span,
.message-btn:hover {
 color: black;
 border-color: transparent;
}

.message-btn::before,
.message-btn::after {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 0;
}

.message-btn::before {
 content: "";
 background: #323232;
 width: 120%;
 left: -10%;
 transform: skew(30deg);
 transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.message-btn:hover::before {
 transform: translate3d(100%, 0, 0);
}




@media (max-width: 767px) {
  .lets-connect {
    padding: 20px 0;
  }
  .form {
    padding: 0;
  }
}