@font-face {
  font-family: poppins;
  src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppins-bold;
  src: url(../assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: poppins-light;
  src: url(../assets/fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: poppins-medium;
  src: url(../assets/fonts/Poppins-Medium.ttf);
}

.hero {
  position: relative;
  font-family: poppins-bold;
}

.hero-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1;
  color: white;
}

.hero-content h1 {
  font-size: 4rem;
  font-weight: bold;
}

.carousel-item img {
  object-fit: cover;
  max-height: 500px;
}

.carousel-indicators [data-bs-target] {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  margin: 0 5px;
}


.contact-container ul {
  display: flex;
  align-items: center;
  padding: 20px 0 0px 55px;
  font-family: poppins;
}

.contact-container ul li {
  list-style: none;
}

.contact-container ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.5s ease;
  padding-right: 20px;
}
.contact-container ul li a:hover,
.contact-container ul li a:hover:focus {
  color: aquamarine;
}
.container-s ul li:last-child {
  padding-left: 20px;
  color: aquamarine;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

.get-in-touch .bg-color-gray {
  background-color: #212121;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-family: poppins;
}

.get-in-touch h1 {
  font-family: poppins-light;
  font-weight: 300;
  margin-bottom: 2rem;
}

.get-in-touch p {
  margin-bottom: 2rem;
}

.get-in-touch_details p{
  margin: 0;
}

.get-in-touch_details-icon {
  margin-bottom: 2rem;
}

.get-in-touch_details-icon a {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 1.5rem;
}

.get-in-touch_details-icon a span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border: 1px aquamarine solid;
  border-radius: 100%;
}

.get-in-touch_details-icon a div :first-child {
  margin-bottom: .357em;
  color: aquamarine;
  font-weight: 700;
}

.get-in-touch_details-icon a:hover span {
  background-color: aquamarine;
  transition: all .6s;
}

.get-in-touch_details-icon a:hover div>* {
  color: aquamarine;
}

.get-in-touch_details-icon a:hover svg path {
  fill: black;
  transition: all .6s;
}

div {
  display: block;
}

.social_links-link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 2.8125em;
  height: 2.8125em;
  border-radius: 50%;
  border: 2px solid #858688;
  transition: all .25s ease;
  overflow: hidden;
}

.get-in-touch_social .social_links-link {
  border: 1px aquamarine solid;
}


.socialContainer {
  width: 52px;
  height: 52px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  overflow: hidden;
  transition-duration: .3s;
}

.social-card {
  display: flex;
  gap: 1rem;
}

.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}






.lets-connect h1 {
  position: relative;
  display: inline-block;
  font-weight: 300;
  font-family: poppins-light;
}

.lets-connect h1::after{
  content: '';
  position: absolute;
  bottom: -9px;
  left: 0;
  width: 50%;
  height: 5px;
  background-color: aquamarine;
  border-radius: 10px;
}



.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  color: #fff;
  border: 1px solid #0C090A;
  font-family: poppins;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #39cdff;
}



.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

.message, 
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}

.flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.flex-item {
  flex-grow: 1;
}

.imput {
  width: 100%;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: black;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  color: #00bfff;
  font-weight: 600;
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #00bfff;
  top: 0px;
  font-size: 0.9em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.message-btn {
 display: inline-block;
 outline: none;
 cursor: pointer;
 border: 1px solid #59c8c6;
 padding: 1% 2%;
 margin: 0;
 font-family: inherit;
 position: relative;
 display: inline-block;
 font-weight: 600;
 border-radius: 10px;
 overflow: hidden;
 background: aquamarine;
 color: rgb(0, 0, 0);
 font-family: poppins-light;
}

.message-btn span {
 position: relative;
 z-index: 10;
 transition: color 0.4s;
 font-weight: 400;
 font-size: 16px;
}

.message-btn:hover span,
.message-btn:hover {
 color: black;
 border-color: transparent;
}

.message-btn::before,
.message-btn::after {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 0;
}

.message-btn::before {
 content: "";
 background: black;
 width: 120%;
 left: -10%;
 transform: skew(30deg);
 transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.message-btn:hover::before {
 transform: translate3d(100%, 0, 0);
}

.container-s1{
  color: #c3ccd3;
  font-family: poppins-medium;
}



.location-card{
  border: 1px white solid;
  border-radius: .5rem;
  
}

.location-description h5{
  margin: 0;
}

.location-card-icon {
  font-size: 1.7rem;
}



@media (max-width: 768px) {
  .lets-connect {
    padding-top: 3.6rem;
  }
  .form {
    padding: 0;
  }
  .hero-content h1 {
    font-size: 3rem;
  }
  .container-s2{
    padding-top: 3rem;
    font-family: poppins;
  }

  
}
@media (max-width: 576px) {
  .hero-content h1 {
    font-size: 2.5rem;
  }
  .message-btn {
    padding: 7px 16px;
  }
  .location-card-icon {
    font-size: 2rem;
  }
  
}