.container-home {
  position: relative;
  margin: 0;
  width: 100%;
  padding-top: 10rem;
  background-image: url("../assets/blurry-gradient-haikei.png");
  background-size: cover;
}

section {
  padding: 20px;
}


.bold-white {
  color: white;
  font-weight: bold;
  font-family: 'varela round';
}

.hero-home h1 {
  color: #c3ccd3;
  text-align: start;
}

.box {
  height: 100%;
  width: 100%;
  background-color: #242425;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.box:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


