@font-face {
  font-family: varela-round;
  src: url(../assets/fonts/VarelaRound-Regular.ttf);
}
@font-face {
  font-family: poppins;
  src: url(../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-light;
  src: url(../assets/fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: poppins-bold;
  src: url(../assets/fonts/Poppins-Bold.ttf);
}

.container-home {
  position: relative;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-image: url("../assets/blurry-gradient-haikei.png");
  background-size: cover;
  overflow-y: hidden;
}

.home-section1 {
  padding: 20px;
}

.bold-white {
  font-weight: bold;
  font-family: varela-round;
}

.animated-title {
  font-weight: 700;
  font-size: larger;
  font-weight: bolder;
  font-family: varela-round;
  background: linear-gradient(
    90deg,
    white,
    white,
    #6060ff,
    #3375ca,
    aqua,
    white
  );
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 5s reverse;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.hero-home {
  font-family: poppins;
}

.hero-home h1 {
  font-family: poppins;
  color: #c3ccd3;
  text-align: start;
}

.box {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #242425;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  z-index: 1;
  overflow-y: hidden;
}

.box:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.fw-bold {
  color: #c3ccd3;
}

.circle {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.home-message-btn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  border: 1px solid #59c8c6;
  padding: 3% 5%;
  margin: 0;
  font-family: inherit;
  position: relative;
  display: inline-block;
  font-weight: 600;
  border-radius: 10px;
  overflow: hidden;
  background: aquamarine;
  font-family: poppins-light;
}

.home-message-btn span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  font-weight: 400;
  font-size: 16px;
}

.home-message-btn:hover span,
.home-message-btn:hover {
  color: black;
  border-color: transparent;
}

.home-message-btn::before,
.home-message-btn::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.home-message-btn::before {
  content: "";
  background: #242425;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.home-message-btn:hover::before {
  transform: translate3d(100%, 0, 0);
}

.card-container {
  display: flex;
  padding: 1rem;
}
.card {
  top: 8px;
  padding: 0 0.2 0.2 0.2;
  background: linear-gradient(200deg, aqua, #330ed9);
  border: none;
  border-radius: 1rem;
}

.card .carousel {
  bottom: 8px;
  right: 8px;
}

.card img {
  border-radius: 1rem;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  opacity: 0.1;
}

.home-section2 {
  position: relative;
  font-family: poppins;
}

.home-section2 span img {
  position: absolute;
  margin-left: -120px;
  top: -80px;
  bottom: 0;
  content: "";
}



.contact-now-btn a {
  text-decoration: none;
  color: white;

}

.contact-now-btn:hover {
  background-position: 99%;
}

.contact-now-btn:active {
  transform: scale(0.9);
}

.contact-now-btn h6 {
  font-family: poppins-bold;
}

@media (min-width: 768px) {
  .home-section1 {
    height: 100vh;
    max-height: 1000px;
    overflow-y: auto;
  }

  .container-home {
    padding-top: 4rem;
  }
  
}

@media (min-width: 577px) {
  .contact-now-btn {
    height: 50px;
    width: 200px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 1rem;
    background-size: 200% 100%;
    box-shadow: 0px 4px 50px rgb(0, 0, 0);
    background-image: linear-gradient(145deg, #ff53eb, #4b4bff, #5de7ff);
    transition: 0.5s;
  }

  .contact-now-btn {
    text-decoration: none;
  }
  .contact-now-btn:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
  }

}

@media (min-width: 577px) and (max-width: 1600px) {
  .home-section1 {
    padding-bottom: 5rem;
  }
}

@media (max-width: 576px) {
  .sm-box {
    padding-bottom: 12px;
  }

  .contact-now-btn {
    height: 40px;
    width: 200px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 0.8rem;
    background-size: 200% 100%;
    box-shadow: 0px 4px 50px rgb(0, 0, 0);
    background-image: linear-gradient(145deg, #5de7ff, #4b4bff, #ff53eb);
    transition: 0.5s;
  }
  .contact-now-btn a {
    text-decoration: none;
    color: white;
  }
  .contact-now-btn {
    text-decoration: none;
  }
  .contact-now-btn:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
  }
  .home-section1 {
    padding-bottom: 5rem;
  }
}

@media (max-width: 768px) {
  .row {
    flex-direction: column-reverse;
  }

  .home-section2 {
    padding-top: 50px;
  }

  .home-section2 span img {
    top: -30px;
  }

  .card-container {
    padding-bottom: 3rem;
  }

  .contact-now-btn {
    width:150px;
    height: 45px;
  }
}

@media (min-width: 992px) and (max-width: 1600px) {
  .home-section1 {
    padding-bottom: 5rem;
  }
}
