* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background: #333333;
}

.nav-item .nav-link{
    color: white;
}

.navbar-toggler-icon {
    color: white;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5); /* Change the alpha value to make it more or less transparent */
}

