* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background: #333333;
}

.nav-item .nav-link{
    color: white;
}

.navbar {
    transition: background-color 0.3s ease-in-out;
  }

  .navbar.transparent {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
  }

  .navbar.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
  }