.card-title {
  color: aquamarine;
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 1.5rem;
}


.card-body {
  color: #99999d;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}


.vertical-timeline-element-content {
  position: relative;
  background: black;
  border-radius: 10px;
  padding: 1em;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: border-color 0.5s ease;
}

.vertical-timeline-element-content:hover {
  border: 1px rgb(47, 189, 255) solid;
}

.vertical-timeline-element-icon {
  border-radius: 100%;
}

.vertical-timeline-element-icon:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -20px;
  width: 20px; /* Adjust the width of the line as needed */
  height: 2px; /* Adjust the height of the line as needed */
  background-color: rgb(255, 255, 255); /* Adjust the color of the line as needed */
}

.vertical-timeline-element-content-arrow {
  border-right: 10px solid black;
}

.vertical-timeline-element-content-arrow {
  display: none;
}

.vertical-timeline-element {
  margin: 0px;
}

.vertical-timeline.vertical-timeline--two-columns:before {
  width: 2px;
}




@media screen and (max-width: 1170px) {
  .vertical-timeline-element {
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .vertical-timeline--two-columns .vertical-timeline-element-content {
    margin-left: 0;
    padding: 1.5em;
    width: 44%;
  }
}

@media only screen and (min-width: 768px) {
  .vertical-timeline--two-columns
    .vertical-timeline-element.vertical-timeline-element--right
    .vertical-timeline-element-content,
  .vertical-timeline--two-columns
    .vertical-timeline-element:nth-child(even):not(
      .vertical-timeline-element--left
    )
    .vertical-timeline-element-content {
    float: right;
  }
}

@media only screen and (min-width: 768px) {
  .vertical-timeline--two-columns .vertical-timeline-element-icon {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
  }

  .vertical-timeline-element:nth-of-type(2) .vertical-timeline-element-icon:before {
    transform: translateX(400%);
  }
  .vertical-timeline-element:nth-of-type(4) .vertical-timeline-element-icon:before {
    transform: translateX(400%);
  }

  .vertical-timeline.vertical-timeline--two-columns:before {
    left: 50%;
    margin-left: -2px;
  }

  
}

@media only screen and (min-width: 768px) {
  .vertical-timeline--two-columns .vertical-timeline-element-content-arrow {
    top: 24px;
    left: 100%;
    transform: rotate(180deg);
  }

  .vertical-timeline--two-columns
    .vertical-timeline-element.vertical-timeline-element--right
    .vertical-timeline-element-content-arrow,
  .vertical-timeline--two-columns
    .vertical-timeline-element:nth-child(even):not(
      .vertical-timeline-element--left
    )
    .vertical-timeline-element-content-arrow {
    top: 24px;
    left: auto;
    right: 100%;
    transform: rotate(0);
  }
}

@media screen and (max-width: 768px) {
  .vertical-timeline-element-icon:before {
    content: '';
    position: absolute;
    top: 50%;
    right: -20px; /* Adjust the position of the line */
    width: 20px; /* Adjust the width of the line */
    height: 2px; /* Adjust the height of the line */
    background-color: rgb(255, 255, 255); /* Adjust the color of the line */
    transform: translateY(-50%);
    transform: translateX(300%);
  }
  
}

